*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  /* Inherited from body because it's a better practise */
  box-sizing: inherit;
}

html {
  /* Default browsers font-size is 16px and we want
   a 10px font-size by default to calculate all 
   measures with rem and the calculations will be simple.
   Defines what a 1rem is */
  font-size: 62.5%; // 1 rem = 10px, 10/16 = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 12px, 12/16 = 75%
  }
}

body {
  padding: 3rem;
  box-sizing: border-box;
}
